header{
    position: absolute;
    left: 0;
    top: 19px;
    width: 100%;
    z-index: 999;
}

.logo{
    width: 207px;
}

.menu-mobile{
    gap: 170px;
}
.menu-scroll {
    gap: 30px;
}
.menu-scroll a{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    transition: 0.3s;
    position: relative;
    white-space: nowrap;
}
.menu-scroll a:hover{
    color: #FF7435;

}
.header-btn{
    gap: 10px;
}
.open-menu{
    display: none;
}
.close-menu {
    display: none;
}
.close-menu span {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;

}

.close-menu span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 3px;
    position: relative;
}
.close-menu span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -3px;
}

.close-menu span:nth-child(3){
    display: none;
}

.body_fix {
    overflow: hidden;
}

.menu-name-mob{
    display: none;
}



.btn-login{
    transition: 0.3s;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    background: unset;
    white-space: nowrap;
    background: #37373B;
    border-radius: 15px;
    padding: 13px 29px;

}
.btn-login:hover{
    background: rgba(212, 94, 41, 1);
}
.btn-login:active{
    background: rgba(212, 94, 41, 1);
}
.btn-reg {
    background: #FF7435;
    border-radius: 15px;
    padding: 13px 29px;

    transition: 0.3s;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    white-space: nowrap;


}
.btn-reg:hover, .btn-reg:active{
    background: rgba(212, 94, 41, 1);

}
.nav-menu ul li{
    display: flex;
}
@media (max-width: 1299px){
    .menu-mobile {
        gap: 140px;
    }
}
@media (max-width: 1199px) {


    .menu-mobile {
        gap: 62px;
    }
    .nav-menu ul {
        gap: 22px;
    }
}
@media (max-width: 1020px) {
    .nav-menu{
        position: relative;
        z-index: 1;
    }
    .menu-name-mob{
        display: block;
    }

    header {
        top: 20px;
    }
    .open-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        transition: 0.3s;
        z-index: 111111;
        width: 24px;
        height: 24px;
    }
    .open-menu span{
        display: flex;
        width: 17px;
        height: 2px;
        transition: 0.3s;
        background: linear-gradient(92.47deg, rgba(235, 235, 235, 0.7) 0%, #EBEBEB 100%);

    }

    .menu-content {
        width: 100%;
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        transition: 0.5s;
        height: 0;
        overflow: hidden;
        padding: 0 8px;
    }
    .transition-menu {
        height: 365px;
        -webkit-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }
    .menu-mobile{
        padding: 17px 15px 20px;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
        margin: 0 auto;
        gap: 30px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        border-radius: 12px;
        background: rgba(2, 4, 8, 1);

    }

    .nav-menu ul {
        align-items: center;
        gap: 18px 25px;
        flex-wrap: wrap;
        max-width: 174px;
        width: 100%;
        justify-content: center;
    }
    .nav-menu a {
        padding: 8px 24px;
    }
    .menu-mobile .glob-tit-name{
        display: flex;
        margin: 0;
    }
    .header-btn {
        flex-direction: row;
        align-items: center;
        position: relative;
        z-index: 1;
        gap: 18px;
    }
    .menu-name-mob {
        width: 100%;
        margin-left: -4px;
    }
    .header-btn .btn-login{
        max-width: 320px;
        width: 100%;
    }
    .header-btn .btn-reg{
        max-width: 320px;
        width: 100%;
    }

    .header-main {
        border-radius: 15px;
    }
    .nav-menu a {
        padding: 0;
        font-size: 12px;
        font-weight: 400;
        line-height: 10px;
    }
    .nav-menu ul {
        max-width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 25px;
    }
    .menu-mobile{
        align-items: flex-start;
    }
}

@media (max-width: 767px) {

    header {
        top: 0;
    }
    .header-main {
        padding: 18px 0;
    }
}


